<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar.html"
>
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">Patients List</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <div class="input-group mb-3 pe-5" style="width: 35%">
                        <input type="text" class="form-control" placeholder="Keyword" aria-label="Keyword"
                               aria-describedby="button-addon2" name="keyword" th:value="${keyword}">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Sick</th>
                        <th>Score</th>
                        <th>Delete Patient</th>
                        <th>Edit Patient</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${patientsList}">
                        <td th:text="${p.getId()}"></td>
                        <td th:text="${p.getName()}"></td>
                        <td th:text="${p.getBirthDay()}"></td>
                        <td th:text="${p.isSick()}"></td>
                        <td th:text="${p.getScore()}"></td>
                        <td>
                            <a
                                    onclick="return confirm('Are you sure?')"
                                    class="btn btn-danger "
                                    th:href="@{delete(id=${p.getId()},page=${currentPage},keyword=${keyword})}"
                            >
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a
                                    class="btn btn-success "
                                    th:href="@{editPatient(id=${p.getId()},page=${currentPage},keyword=${keyword})}"
                            >
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--Pagination-->
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a
                                th:text="${status.count}"
                                th:class="${status.index == currentPage ? 'btn btn-secondary me-1' : 'btn btn-outline-secondary me-1'}"
                                th:href="@{index(page=${status.index},keyword=${keyword})}"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal Patient Success Update-->
    <div th:if="${successUpdate == 'true'}">

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Patient update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeParamFromURL()"></button>
                    </div>
                    <div class="modal-body">
                        <p>Patient's information have been successfully updated</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="removeParamFromURL()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const modal = new bootstrap.Modal('#staticBackdrop');
            modal.show();
            function removeParamFromURL() {
                const urlObj = new URL(window.location.href);
                urlObj.searchParams.delete('successUpdate');
                window.location.href = urlObj.href;
            }
        </script>
    </div>
</div>

</body>
</html>